* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: #111;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #86898b;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #1d9bf0;
}

form label {
  display: block;
  margin: 15px 0 5px;
}

form input[type="text"],
form input[type="file"],
form textarea {
  width: 100%;
  padding: 10px;
  background: #222;
  color: white;
  border: 1px solid #333;
  border-radius: 6px;
  font-size: 15px;
}

form textarea {
  resize: vertical;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #1d9bf0;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #1480c3;
}
