<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Notifications | MYBLOGSPACE</title>
  <link rel="stylesheet" href="notification.css" />
</head>
<body>
  <div class="sidebar">
    <h2>MYBLOGSPACE</h2>
    <nav>
      <a href="home">Home</a>
      <a href="notification" class="active">Notifications</a>
      <a href="messages">Messages</a>
      <a href="profil">Profile</a>
      <a href="login">Logout</a>
    </nav>
    <a href="create-blog">
    <button class="post-btn">Create Blog</button>
    </a>
  </div>

  <div class="main">
    <h2>Notifications</h2>

  <% notifications.forEach(note => { %>
  <div class="notification">
    <p><%= note.message %></p>
    <span><%= new Date(note.timestamp).toLocaleString() %></span>
  </div>
<% }) %>

  </div>
</body>
</html>
